@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

:root {
  font-family: 'IBM Plex Mono', monospace;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */



img,video {
  max-width: 22vw;
  max-height: 22vw;
}

table, th, td {
  border: 1px solid black;
  /* width: 50vw; */
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  margin: 1vw;
}

a {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: underline;
}

.stats{
  display: flex;
  flex-wrap: wrap;
}